header {
  background-image: url("src/assets/images/front background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x:hidden;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}


.head-container {
  width: 600px;
  height: auto;
  background: rgba(17,17,17,0.5);
  text-align: center;
  font-family: 'Italiana';
  line-height: 80%;
  padding:20px;
  border-radius: 15%;
  margin: 10% auto;
}

.intro {
  font-size: 22px;
}

.col1 {
  color: white;
}

.name {
  font-size: 80px;
  margin-top: 40px;
}

.col2 {
  color: #64D622;
}

.button-cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-button {
  font-family: 'Fjalla One', sans-serif;
  padding: 20px 40px;
  background-color: rgb(213 69 60);
  color: white;
  font-size: 30px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: grey;
  }
}

@media screen and (max-width: 875px) {
  .head-container p {
    font-size: 19.8px;
  }

  .head-container h1 {
    font-size: 72px;
  }

  .head-container h3 {
    font-size: 19.8px;
    line-height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .head-container {
    margin-top: 25%;
    margin-bottom: 10%;
  }

  .head-container p {
    font-size: 14px;
  }

  .head-container h1 {
    font-size: 60px;
  }

  .head-container h3 {
    font-size: 14px;
    line-height: 100%;
  }
}
