<!-- footer section -->
<footer id = "mainPage-footer" style = "font-family:'Roboto', sans-serif; color: rgb(200,200,200);">
  <div id = "footer-inner">
    <figure id = "footer-figureOne">
      <img src = "../../assets/images/section-symbol.png" alt = "sect-start-symbol" style = "height: 50px; width: auto;">
      <figcaption>2019 Niko's Bistro | Pixel House Studios</figcaption>
    </figure>

    <figure id = "footer-figureTwo">
      <div>
        <p>Follow us</p>
        <div style = "margin: 10px 0 30px 0; ">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </div>
      <div style = "height: 50px;">
        <p>Hours of Operation:</p>
        <ul style = "margin: 10px 0;">
          <li>Mon - Thurs: 10am - 11pm</li>
          <li>Fri - Sun: 10am - 12am</li>
        </ul>
      </div>
    </figure>

    <figure id = "footer-figureThree">
      <ul style = " margin: 0; height: 100px;">
        <li>Home</li>
        <li>About</li>
        <li>Menu</li>
        <li>Contact</li>
      </ul>
    </figure>
  </div>
</footer>
