/* Contact Us Section */

#contact-section {
  height: auto;
  width: 100%;
  background-color: rgb(100, 100, 100);
}

#contact-section-content {
  height: auto;
  width: 900px;
  margin: auto;
  text-align: center;
}

#contact-section-content h1 {
  font-size: 60px;
  color: #f7f7f7;
  margin: 0;
  padding: 50px;
  border-bottom: 1px solid #f7f7f7;
}

#contact-section-content h2 {
  font-size: 30px;
  color: #f7f7f7;
  margin-bottom: 0;
}

#contact-section-content p {
  font-size: 20px;
  color: #f7f7f7;
  margin: 0;
}

#find-us {
  height: auto;
  width: 900px;
  margin: 50px 0;

  display: flex;
  justify-content: space-between;
}

#contact-us-form {
  height: auto;
  width: 400px;
}

#contact-us-form input {
  background-color: #f7f7f7;
  color: rgb(100,100,100);
  width: 400px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 20px;
}

#contact-us-form textarea {
  background-color: #f7f7f7;
  color: rgb(100,100,100);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 20px;
  width:400px;
  height:200px;
}

#contact-us-form #submit-button {
  font-size: 15px;
  background-color: rgb(100,100,100);
  border: 1px solid #f7f7f7;
  color: #f7f7f7;
  margin: 20px 75px;
  padding: 10px 0;
  width: 150px;
}

#contact-us-form #submit-button:hover {
  background-color: #f7f7f7;
  color: rgb(100,100,100);
}

#general-info {
  width: 400px;
  height: 200px;
  text-align: center;
  color: #f7f7f7;
  font-size: 20px;
  position: relative;
  border-bottom: 1px solid #f7f7f7;
}

#general-info .icon {
  color: #f7f7f7;
  position: absolute;
  left: 0;
}
