<!-- Menu Section -->
<app-section-separator></app-section-separator>
<div id="section2">

  <div class = "sect-title">
    <h1> Menu Favourites</h1>
    <p>Experience our specialty food</p>
  </div>

  <div [ngClass] = "{'food-card food-card1': true}"
      *ngFor = "let cat of categories; let i = index;">
    <div class = "pic pic{{i}}"></div>

    <div class = "food">
      <div class = "title">
        <h1>{{cat.name}}</h1>
      </div>

      <div class = "card-cont" >
        <div class = "card">
          <div class = "card__img">
            <img src="../../assets/images/logo2.png" alt = "temp picture">
          </div>

          <p>food name</p>
          <p>food desc</p>
          <p>food price</p>
        </div>

        <div class = "prev1">&#10094;</div>
        <div class = "next1">&#10095;</div>
      </div>
    </div>
  </div>

  <div class = "full-menu-cont">
    <div class = "container-of-fullmenu-content">
      <div class = "icon-cont">
        <img src="../../assets/images/plate-icon.png" alt = "plate image">
      </div>
      <div class = "click-for-full">
        <h1>To see our full menu click here!</h1>
      </div>
      <div class = "button-cont">
       <div class = "menu-button" (click) = "openOrderDashboard()">View Now</div>
      </div>
    </div>
  </div>
</div>
<app-section-separator></app-section-separator>
