<!-- About us Section -->
  <div class = "about-us-cont">
    <div class = "pic-cont"></div>
    <div class = "about-paragraph-cont">
      <div class = "about-paragraph-cont-inner">
        <h1>About Niko's Bistro</h1>
        <p>Spicy jalapeno bacon ipsum dolor amet sint kielbasa consectetur, hamburger meatloaf deserunt salami pork doner duis qui sirloin. Corned beef venison jerky, consequat qui sint dolore exercitation cow pork belly est drumstick. Short loin ex kielbasa ham hock, venison adipisicing prosciutto non ad sirloin officia ut consectetur pork excepteur.</p>
        <p>Boudin incididunt dolor swine landjaeger. Ipsum sirloin in pork, nostrud jerky shoulder. Rump eiusmod swine nisi pork belly. Ball tip shoulder landjaeger fugiat excepteur, anim picanha. In ground round esse ut boudin nostrud andouille chuck.</p>
      </div>

      <div class = "store-hours">

        <h1>Store Hours</h1>

        <div class = "days">
          <p>Mon - Thurs</p>
          <p>Friday</p>
          <p>Saturday</p>
          <p>Sunday</p>
        </div>

        <div class = "time">
          <p>11am - 9pm</p>
          <p>10am - 10pm</p>
          <p>10am - 11pm</p>
          <p>12pm - 7pm</p>
        </div>
      </div>
    </div>
  </div>

  <div id = "call-us-cont">
    <div class = "daily-special">
      <p>TRY OUR</p>
      <p>DELICIOUS</p>
      <p>DAILY </p>
      <p>SPECIALS!</p>
    </div>

    <div id = "phone-num1">
      <p style = "font-size: 15px">Call us</p>
      <h1> 416-479-1111 </h1>
    </div>
  </div>
